target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

README_OLD.md
.openapi-generator/
conf/**/pdf-service-environment.yaml
conf/**/pdf-service-local.yaml
setup_project.sh


data/*.pdf
# Exclude test files for local testing
test.pdf
lorem-ipsum.pdf

data/*.pdf
cache/*.pdf
