<included>
    <contextName>pdf-service</contextName>


    <!-- This logger logs one line per download of a file
         This log file will be used to generate the yearly report so it should NOT be rolled over-->
    <!--Sample log line-->
    <!--2022-01-06 13:14:16 INFO  DownloadLogger - IP [0:0:0:0:0:0:0:1] downloaded 130018854342.pdf-->

    <property name="DOWNLOADLOGFILE" value="${catalina.home}/logs/${CONTEXT_NAME}-downloads.log"/>
    <appender name="DOWNLOADLOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DOWNLOADLOGFILE}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Monthly rollover. Logback apparently does not support YEARLY rollover, see ch.qos.logback.core.rolling.helper.PeriodicityType -->
            <fileNamePattern>${DOWNLOADLOGFILE}.%d{yyyy-MM}</fileNamePattern>

            <!-- keep 10 years' worth of history -->
            <maxHistory>120</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="DownloadLogger" level="INFO" additivity="false">
        <appender-ref ref="DOWNLOADLOGGER"/>
    </logger>

    <property name="LOGFILE" value="${catalina.home}/logs/${CONTEXT_NAME}-app.log"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGFILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGFILE}.%d{yyyy-MM-dd}</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}\(%file:%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}\(%file:%line\) - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="dk.kb" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</included>

